<html>

<body>
  <h1>Tablón Anuncios</h1>


  <span th:text="${anuncios}"></span>

  <div th:each="item, iterator : ${anuncios}">
    <a th:with="baseUrl=('/anuncio/'  + ${iterator.index + 1})" th:href="@{${baseUrl}}"><span
        th:text="${item.asunto}"></span></a>


  </div>
  <!---     <div th:each="item, iterator : ${anuncios}">
    <a th:with="baseUrl=('/anuncio/'  + ${iterator.index + 1})" th:href="@{${baseUrl}}"><span
        th:text="${item.asunto}"></span></a>
  </div> -->


  <br>
  <a href="nuevoAnuncio.html">Nuevo anuncio</a>
</body>

</html>