<html>

<body>

  <p>Colors in list:</p>

  <ul th:each="color: ${colors}">
    <li th:text="${color}" />
    </li>
  </ul>
  <p>Colors in table:</p>
  <table>
    <tr th:each="color: ${colors}">
      <td th:text="${color}" />
      </td>
    </tr>
  </table>


  <!--    
</tr>
    <p>Colors in list:</p>
    <ul>
      {{#colors}}
      <li>{{.}}</li>
      {{/colors}}
    </ul>
    <p>Colors in table:</p>
    <table>
      {{#colors}}
      <tr>
        <td>{{-index}}</td>
        <td>{{.}}</td>
      </tr>
      {{/colors}}
    </table>-->
</body>

</html>