<html>

<body>
  <h1>Tablón Anuncios</h1>


  <span th:text="${anuncios}"></span>

  <div th:each="item : ${anuncios}">
    <a th:with="baseUrl=('/anuncio/'  + ${item.id})" th:href="@{${baseUrl}}"><span th:text="${item.asunto}"></span></a>
    <a th:with="baseUrl=('/anuncio/eliminar/'  + ${item.id})" th:href="@{${baseUrl}}"><span>Eliminar:<span
          th:text="${item.id}"></span></span></a>

  </div>
  <!---     <div th:each="item, iterator : ${anuncios}">
    <a th:with="baseUrl=('/anuncio/'  + ${iterator.index + 1})" th:href="@{${baseUrl}}"><span
        th:text="${item.asunto}"></span></a>
  </div> -->
  <span th:if="${showPrev}"><a th:with="
      baseUrl=('/?page='  + ${prevPage})" th:href="@{${baseUrl}}">Prev</span></a></span>

  <span th:text="${numPage + 1}"></span>

  <span th:if="${showNext}"><a th:with="
            baseUrl=('/?page='  + ${nextPage})" th:href="@{${baseUrl}}">Next</span></a></span>

  <br>
  <a href="nuevoAnuncio.html">Nuevo anuncio</a>
</body>

</html>